@import '../Variable/variable.css';
.box{   
    border: 1px solid rgb(243, 151, 151);
    padding: 1em;
    background-color: $color-white;
    margin: -20em 19em 0 20em;
    z-index: -3;
    img{    
        width: 80%;
        height: 50vh;
        margin: 20px;
    }
    .details{
        width: 70%;
        align-items: center;
        p{
            font-size: 22px;
            margin:20px 20px 20px 0;            
        }
        hr{
            border:1px solid rgb(211, 209,209)
        }
    }
}
.image_description{
    display: flex;
    /* flex-wrap: wrap; */
}
.footer{
    height: 60px;
    background-color:rgb(219, 113, 113);  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
table{
    /* border: 1px solid black; */
    font-size: 18px;
    margin: 2rem 0rem 6rem 0rem;
    td{
        font-size: 18px;
        justify-content: space-between;
    }
}

.resume{
    text-align: center;
    padding: 15px 32px;
    display: inline-block;
    font-size:16px;
    margin:25px 0 20px 650px;
    border: 1px solid rgb(184, 179, 179);
}

.paragraph{
    /* border: 1px solid black; */
    margin: 0em 10em 3em 10em;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}
.plus{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
    i{
        margin-top: 10px;
        border: 2px solid grey;
        padding: 12px;
        border-radius: 5px;
        box-shadow: 0 0 6px grey;
        
    }
}