@import '../Variable/variable.css';

.experience{
    // border: 1px solid $color-black;
    margin: auto;
    width: 69%;
    margin-top: 3%;
    text-align: center;
}
.experience_detail{
    display: grid;
    border: 5px solid $color-grey;
    width: 100%;
    height: 100%;
    background-color: rgb(196, 27, 27);
    grid-template-columns: 1fr,1fr;

    
    .detail_box{
        width: 45%;
        margin: 10px 0 0 20px;
        box-shadow: 0 0 6px $color-grey;
        
    }
    .top_detail{
        border: 1px solid $color-grey;
        border-top: 5px solid $color-red;
        p{
            padding: 5px;
        }
        .date{
            font-size: 18px;
            color: $color-red;
            font-weight: bold;
        }
        .topic{
            text-transform: uppercase;
        
        }
        .sub-title{
            text-transform: uppercase;
        
        }
        .descp{
            // justify-content: center;
            // align-items: center;
        }
    }
}