@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Permanent+Marker&family=Poppins:wght@500&family=Tapestry&family=Ubuntu:wght@300&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}
body{
  background: black;
  max-width: 1295px;
  height: 100vh;  
  /* overflow: hidden; */
}

h1,ul,li,p{
  color: #fff;
  text-decoration: none;
  list-style-type: none;
}
.btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  color: #222;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
}
.btn-light{
  background: transparent;
  color: #fff;
}
.btn-hover{
  transition: 0.3s;
  color:#fff;
  background: rgba(255,255,255,0.2);
}